---
interface Props {
  alwaysVisible?: boolean;
}

const { alwaysVisible } = Astro.props;

const navItems = [
  { name: "Item 1", link: "#" },
  {
    name: "Parent",
    link: "#",
    submenu: [
      { name: "Sudf1", link: "#" },
      { name: "Submenuasdf asdjklf; jkl;asfd", link: "#" },
    ],
  },
  { name: "Item 3", link: "#" },
];
---

<nav
  class="navbar fixed top-0 z-50 bg-base-100 duration-100 ease-in-out"
  id="navbar"
  data-alwaysVisible={alwaysVisible ? "true" : "false"}
>
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        {
          navItems.map((item) => (
            <li>
              <a href={item.link}>{item.name}</a>
              {item.submenu && (
                <ul class="p-2">
                  {item.submenu.map((subitem) => (
                    <li>
                      <a href={subitem.link}>{subitem.name}</a>
                    </li>
                  ))}
                </ul>
              )}
            </li>
          ))
        }
      </ul>
    </div>
    <a class="btn btn-ghost text-xl" href={import.meta.env.WEBSITE_BASE_URL}>
      {import.meta.env.WEBSITE_NAME}
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      {
        navItems.map((item) => (
          <li>
            {item.submenu ? (
              <details>
                <summary>{item.name}</summary>
                <ul class="p-2">
                  {item.submenu.map((subitem) => (
                    <li>
                      <a href={subitem.link}>{subitem.name}</a>
                    </li>
                  ))}
                </ul>
              </details>
            ) : (
              <a href={item.link}>{item.name}</a>
            )}
          </li>
        ))
      }
    </ul>
  </div>
  <div class="navbar-end">
    <a class="btn">Button</a>
  </div>
  <div class="h-1 bg-primary absolute bottom-0 left-0 right-0"></div>
</nav>

<script src="./NavbarControl.ts"></script>
